<h2>Log in</h2>
<div class="flex-col">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="header flex-row align-center mt-10">
      <%= render "devise/shared/back_button" %>
      <h2 class="mr-auto ml-auto">LOGIN</h2>
      <div class="actions">
        <%= f.submit "Log In" %>
      </div>
    </div>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "w-full" %>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "w-full"  %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
